{% set gget = salt['grains.get'] %}
{% set pget = salt['pillar.get'] %}

# info about the system

name: {{ gget('id') }}
os: {{ gget('os') }}
ip address: {{ gget('ip4_interfaces:eth0') }}
kernel: {{ gget('kernelrelease') }}
cpu: {{ gget('cpu_model') }}

# info from pillar
list_of_values: {{ pget('common:list_of_values') }}

{% for value in pget('common:list_of_values') %}
This is {{ value }}
{% endfor %}